.article-row {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

.article-desc {

}

.user-desc {
    flex-shrink: 0;
    display: flex;
    gap: 12px;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 13px;
}

.text-preview{
    height: 35px;
    overflow: hidden;
}
